@import "variable.scss";

@mixin ellipsis($line-cnt, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: $line-height;
  height: $line-height * $line-cnt;
  /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

@mixin mobile {
  @media (min-width: #{$breakpoint_mobile}) and (max-width: #{$breakpoint_desktop}) {
    @content;
  }
}

@mixin mobile_small {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint_tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint_desktop}) {
    @content;
  }
}
