// Colors

$white: #ffffff;
$black: #000000;
$grey_1: #00000019;
$grey_2: #e1e4e7;
$lightgreen: #00c854;
$darkgrey: #7e848a;
$deepgrey: #495057;
$lightgrey: #adb5bd;
$blackgrey_1: #212529;
$blackgrey_2: #282c30;
$whitegrey_1: #f4f5f7;
$whitegrey_2: #00000012;

// Mobile, Tablet, Desktop

$breakpoint-mobile: 335px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1024px;
