@import "variable.scss";
@import "mixin.scss";

main {
  .main__wrapper {
    display: flex;
    width: 59.375%;
    margin: 0 auto;
    margin-top: 50px;

    @include mobile {
      width: 100%;
      margin: 10px;
    }

    .main__login {
      margin: 0 auto;
      width: 20.613%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $lightgreen 0% 0% no-repeat padding-box;
      border-radius: 5px;
      opacity: 1;
      .main__login--comment {
        font-size: 22px;
        color: $white;
      }
      @include mobile {
        display: none;
      }
    }

    .main__wrapper--container {
      width: 79.377%;
      @include mobile {
        width: 100%;
      }
    }

    .main__wrapper--content {
      border: 1px solid $grey_2;
      margin: 17px 30px 30px 40px;
      padding: 20px 30px 20px 30px;

      @include mobile {
        display: flex;
        margin: 10px;
        border: none;
        padding: 15px;
        flex-direction: column;
      }
    }

    .main__header--top {
      display: flex;
      justify-content: space-between;
      .main__header--category {
        color: $darkgrey;
      }
      .main__header--id {
        color: $lightgrey;
      }
    }

    .main__header--line {
      height: 1px;
      margin: 11px 0px 15px 0px;
      background-color: $grey_2;
    }

    .main__header--bottom {
      display: flex;
      .main__header--userID {
        color: $lightgreen;
      }
      .main__header--vertical {
        margin: 5px 10px 5px 10px;
        width: 1px;
        height: 15px;
        background-color: $grey_2;
        @include mobile {
          display: none;
        }
      }
      .main__header--date {
        color: $deepgrey;
        @include mobile {
          display: none;
        }
      }
    }

    .main__content {
      .main__content--title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $blackgrey_2;
        font-size: 18px;
      }
      .main__content--description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $deepgrey;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
