@import "variable.scss";

main {
  //   .main__container {
  //   }

  .main__login {
    width: 235px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $lightgreen 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    span {
      font-size: 22px;
      color: $white;
    }
  }
}
